.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-container {
  width: 500px;
  height: 300px;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  /* align-items: center; */
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 12px;
  border: 1px solid #555;
}

.toolbar {
  /* top: 1px; */
  position: top;
  background: grey;
}